<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1.0, minimum-scale=1">
    <meta property="og:title" content="Healfit"/>
    <meta property="og:url" content="https://healfit.in/"/>
    <meta property="og:image" content="https://healfit.in/images/local/curectLogo.png">

    <% if(page) { %> 
        <title><%= page %> - Curect</title>
    <% } else { %> 
        <title>Dashboard - Curect</title>
    <% } %> 
    <link rel="icon" href="https://healfit.in/images/local/curectLogo.png" type="image/icon type">

    <!--  Razorpay  -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" /> -->
    <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
    <!---->
    

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="/jquery/jquery.js"></script>

    <!-- Selectise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js" integrity="sha512-JFjt3Gb92wFay5Pu6b0UCH9JIOkOGEfjIi7yykNWUwj55DBBp79VIJ9EPUzNimZ6FvX41jlTHpWFUQjog8P/sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap5.min.css" integrity="sha512-w4sRMMxzHUVAyYk5ozDG+OAyOJqWAA+9sySOBWxiltj63A8co6YMESLeucKwQ5Sv7G4wycDPOmlHxkOhPW7LRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Pollyfill -->
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->

    <!-- Date Picker -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- Ckeditor Cdn -->
    <!-- <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script> -->
    <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/<%= cssFile %>.css">
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'complete') {
                setTimeout(function(){
                    if(document.getElementById('load')) {
                        document.getElementById('load').style.visibility="hidden";
                    }
                },500);
            }
        }
    </script>
</head>
<body onload="checkCookie()">

<div class="blurbackground" onclick="toggleSideBar()"></div>

<div class="navbar curect-navbar">
    <div class="container">
        <div class="logo">
            <a class="curect-logo-item" href="/" style="border: 0 !important;">
                <img id="curect-logo" src="/images/local/curectLogo.png" style="height: 28px;">
                <img id="curect-name" src="/images/local/curectLogoName.png" style="height: 18px !important;">
                <!-- <span id="logoName">HealFit</span> -->
            </a>
        </div>
        <div class="menu">
            <ul>
                <!-- <li onclick="window.location.href = '/'">Home</li> -->
                <% for(var i=0;i<product_categories.length;i++){ %>
                    <% if(product_categories[i].nav_imp == 1) { %>
                        <li onclick="window.location.href = '/?category=<%- product_categories[i].name %>'"><%= product_categories[i].name %></li>
                    <% } %>
                <% } %>
                <li onclick="window.location.href = `/?gender=MALE`">Men</li>
                <li onclick="window.location.href = `/?gender=WOMEN`">Women</li>
                <li onclick="window.location.href = `/?gender=UNISEX`">Unisex</li>
                <li onclick="window.location.href = `/contact`">Contact us</li>
            </ul>
        </div>
        <div id="login_button_topbar">
            <div class="d-flex">
                <div class="button">
                    <a href="#login" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                </div>
                <a id="hamburger" onclick="toggleSideBar()">
                    <span class="iconify" data-icon="charm:menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="profile" id="profile" style="overflow: unset !important">
            <!-- <a id="notification">
                <span class="iconify" data-icon="akar-icons:bell"></span>
                <span class="dot"></span>
            </a> -->
            <a id="cart" onclick="window.location.href = `/cart`">
                <span class="iconify" data-icon="akar-icons:cart"></span>
                <span class="dot"></span>
            </a>
            <div class="btn-group dropstart">
                <a data-bs-toggle="dropdown">
                    <img src="" id="loggedInProfileImage">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#userProfile">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="/myOrders">My orders</a></li>
                    <li><a class="dropdown-item" onclick="apperalLogout()" style="color: var(--warning);">Logout</a></li>
                </ul>
            </div>
            <a id="hamburger" onclick="toggleSideBar()">
                <span class="iconify" data-icon="charm:menu-hamburger"></span>
            </a>
        </div>
    </div>
</div>

<!-- <div class="navbar_toggle_button" onclick="toggleSideBar()">
    <a><span class="iconify" data-icon="gala:menu-left"></span></a>
</div> -->

<div class="sidebar">
    <ul>
        <!-- <li onclick="window.location.href = '/'">
            <a><span>Home</span><span class="iconify" data-icon="charm:arrow-right"></span></a>
        </li> -->
        <% for(var i=0;i<product_categories.length;i++){ %>
            <% if(product_categories[i].nav_imp == 1) { %>
                <li onclick="window.location.href = '/?category=<%- product_categories[i].name %>'">
                    <a><span><%= product_categories[i].name %></span><span class="iconify" data-icon="charm:arrow-right"></span></a>
                </li>
            <% } %>
        <% } %>  
        <li onclick="window.location.href = `/?gender=MALE`">
            <a><span>Men</span><span class="iconify" data-icon="charm:arrow-right"></span></a>
        </li>
        <li onclick="window.location.href = `/?gender=WOMEN`">
            <a><span>Women</span><span class="iconify" data-icon="charm:arrow-right"></span></a>
        </li>
        <li onclick="window.location.href = `/?gender=UNISEX`">
            <a><span>Unisex</span><span class="iconify" data-icon="charm:arrow-right"></span></a>
        </li>
        <li onclick="window.location.href = `/contact`">
            <a><span>Contact us</span><span class="iconify" data-icon="charm:arrow-right"></span></a>
        </li>
    </ul>
    <div class="button">
        <a href="#login" id="login_button" data-bs-toggle="modal" data-bs-target="#login">Login</a>
    </div>
</div>


<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div id="close" data-bs-dismiss="modal">
                    <a><span class="iconify" data-icon="eva:close-fill"></span></a>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-1 order-md-0 d-none d-md-flex">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://cdn.mos.cms.futurecdn.net/KLZwUWe4JwyyXY7pV7CpaU.jpg" class="d-block w-100" alt="">
                              </div>
                              <div class="carousel-item">
                                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/02/fitness-tips-1645774618.jpg" class="d-block w-100" alt="">
                              </div>
                              <div class="carousel-item">
                                <img src="https://static.wixstatic.com/media/6a670ac1508f442cac494d76770e1ded.jpg/v1/fill/w_640,h_452,al_t,q_80,usm_0.66_1.00_0.01,enc_auto/6a670ac1508f442cac494d76770e1ded.jpg" class="d-block w-100" alt="">
                              </div>
                            </div>
                          </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 order-0 order-md-1">
                        <div class="login_form">
                            <div id="phone_number_input">
                                <p>OTP Verification</p>
                                <div class="form-group">
                                    <label for="phoneNumber" style="margin:0px 0px 10px 0px;">Phone number</label>
                                    <div class="input-group search" style="height: 50px !important;">
                                        <a style="background-color: var(--card-bg);">+91</a>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter 10 digit phone number here.." maxlength="10" minlength="10" style="border: 0;height: 100%;margin: 0;outline: 0 !important;">
                                    </div>
                                </div>
                                <div class="button" style="margin:30px 0px 10px 0px;">
                                    <button id="sign-in-button" class="btn btn-primary" style="border: 0;width: 100%;">
                                        Get OTP
                                    </button>
                                </div>
                            </div>
                            <div id="otp_verification" style="display: none;">
                                <p>OTP Verification</p>
                                <div class="form-group">
                                    <label for="phoneNumber" style="margin:0px 0px 10px 0px;">OTP</label>
                                    <input type="text" class="form-control" id="code" placeholder="Enter OTP" maxlength="6" minlength="6" required/>
                                </div>
                                <div class="button" style="margin:30px 0px 10px 0px;">
                                    <button id="confirm-code" style="border: 0;width: 100%;" class="btn btn-primary">
                                        Verify
                                    </button>
                                </div>
                            </div>
                            <div id="user_values" style="display: none;" data-userId="0">
                                <p>Get Started</p>
                                <form onsubmit="apperalSaveData(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                                    <div class="profileImage">
                                        <input type="file" id="profileImageInput" style="display: none;" onchange="apperalUploadImages()" accept="image/*">
                                        <img src="/images/local/addImage.png" onclick="selectImage()" id="profileImageData" alt="">
                                        <div id="delete-icon" onclick="apperalRemoveImage()">
                                            <a><span class="iconify" data-icon="ant-design:delete-outlined"></span></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fullname" style="margin:10px 0px 10px 0px;">Full name</label>
                                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter your full name" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" style="margin:10px 0px 10px 0px;">Email (optional)</label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email"/>
                                    </div>
                                    <label for="gender" style="margin:10px 0px 10px 0px;">Select your gender</label>
                                    <div class="gender-cards">
                                        <div class="gcards" data-gvalue="2">
                                            <div>
                                                <img src="/images/local/female.png" alt="">
                                                <p>Woman</p>
                                            </div>
                                        </div>
                                        <div class="gcards" style="margin: 0px 5px;" data-gvalue="1">
                                            <div>
                                                <img src="/images/local/male.png" alt="">
                                                <p>Man</p>
                                            </div>
                                        </div>
                                        <div class="gcards" data-gvalue="3">
                                            <div>
                                                <img src="/images/local/trans.png" alt="">
                                                <p>Others</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button" style="margin:30px 0px 10px 0px;">
                                        <button type="submit" style="border: 0;width: 100%;display: flex;align-items: center;justify-content: center;" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recaptcha-container" style="display: none"></div>
            </div>
        </div>
    </div>
  </div>

<div class="modal fade" id="userProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div id="close" data-bs-dismiss="modal">
                    <a><span class="iconify" data-icon="eva:close-fill"></span></a>
                </div>
                <div class="login_form">
                    <div id="user_values" data-userId="0">
                        <p>User Profile</p>
                        <form onsubmit="saveDataApperal(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                            <div class="profileImage">
                                <input type="file" id="profileImageInput1" style="display: none;" onchange="apperalUploadImages1()" accept="image/*">
                                <img src="/images/local/addImage.png" onclick="selectImage1()" id="profileImageData1" alt="">
                                <div id="delete-icon1" onclick="apperalRemoveImage1()">
                                    <a><span class="iconify" data-icon="ant-design:delete-outlined"></span></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fullname1" style="margin:10px 0px 10px 0px;">Full name</label>
                                <input type="text" class="form-control" name="fullname1" id="fullname1" placeholder="Enter your full name" required/>
                            </div>
                            <div class="form-group">
                                <label for="email1" style="margin:10px 0px 10px 0px;">Email (optional)</label>
                                <input type="email" class="form-control" name="email1" id="email1" placeholder="Enter your email"/>
                            </div>
                            <label for="gender" style="margin:10px 0px 10px 0px;">Select your gender</label>
                            <div class="gender-cards">
                                <div class="gcards gcards1" data-gvalue="2">
                                    <div>
                                        <img src="/images/local/female.png" alt="">
                                        <p>Woman</p>
                                    </div>
                                </div>
                                <div class="gcards gcards1" style="margin: 0px 5px;" data-gvalue="1">
                                    <div>
                                        <img src="/images/local/male.png" alt="">
                                        <p>Man</p>
                                    </div>
                                </div>
                                <div class="gcards gcards1" data-gvalue="3">
                                    <div>
                                        <img src="/images/local/trans.png" alt="">
                                        <p>Others</p>
                                    </div>
                                </div>
                            </div>
                            <div class="button" style="margin:30px 0px 10px 0px;">
                                <button type="submit" style="border: 0;width: 100%;display: flex;align-items: center;justify-content: center" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

