<%- include('../components/header/apperals_header.ejs',{cssFile : 'index',page:page,isDevelopment: isDevelopment,mainUrl:mainUrl,product_categories:product_categories}) %> 

<div id="load"></div>

<div class="main-container">
    <div class="container">
        <br><br><br><br><br>
        <h2 class="text-center"><b>Frequently Asked Questions</b></h2>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I exchange or return my order/product?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol id="l1">
                        <li data-list-text="1.">
                            <p style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">ALL SALES ARE FINAL.</p>
                        </li>
                        <li data-list-text="2.">
                            <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">PLEASE GO THROUGH THE SIZE CHART BEFORE ORDERING.</p>
                        </li>
                        <li data-list-text="3.">
                            <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">WE DO NOT ENTERTAIN EXCHANGE / RETURN REQUESTS.</p>
                        </li>
                    </ol>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What if I receive a damaged product?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>We personally make sure that the products are checked before shipping them. But, if you have still received a damaged product, we apologize. We are more than willing to help you out. Please click a picture of the product and email at <a href="mailto:contact@curect.healfit.in" target="_blank" style="border: 0px !important;color:var(--sub-text)">contact@curect.healfit.in</a> and <a href="mailto:support@curect.healfit.in" target="_blank" style="border: 0px !important;color:var(--sub-text)">support@curect.healfit.in</a> within 24 hours of receiving the product.We will issue a refund as soon as we receive the product back.
                </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I return my order if I haven't requested a refund within 24 hours?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    We always strive to give the best service to our customers, sometimes we understand that it is not possible to register a request within the given time.Please reach out to customer support by submitting your request via the "contact us" form. with your original product photo and we will try and get the best solution for you.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How much time does it take for a returned item to reach the warehouse?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    It takes about 5-7 business days for the returned order to be delivered back to us.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What are the payment options available?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    We do not have a cash-on-delivery option available, we only accept prepaid orders. The options available for placing prepaid orders:
                  </p>
                  <ol id="l1">
                    <li data-list-text="1.">
                        <p style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">UPI (Google pay, Paytm, PhonePe and others).</p>
                    </li>
                    <li data-list-text="2.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Card (Visa, MasterCar,RuPay, and Maestro).</p>
                    </li>
                    <li data-list-text="3.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Net banking.</p>
                    </li>
                    <li data-list-text="4.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Wallet (Mobikwik and more).</p>
                    </li>
                    <li data-list-text="5.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Paylater (Simpl, LazyPay, ICICI and more).</p>
                    </li>
                </ol>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    How many days does it take to receive a refund?
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    When the returned item(s) is received back at our warehouse and inspected, your refund will be initiated in the next 24 hours after the quality check. Kindly allow 3-5 business days for the amount to reflect in your source account once the refund has been initiated from our end. Canceled order refunds are immediately processed from our end. Kindly allow 3-5 business days for the refund to reflect in your account. Reimbursement of funds will be allocated back to the original form of payment used for the purchase
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Do you have cash on delivery?
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    No, we don't offer Cash on Delivery. Please, choose from the different payment options listed on our website.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    How do I cancel my order?
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    If you intend to cancel your order, please reach out to customer support by submitting your request via the "contact us" form with your order ID.If your order is not dispatched from our warehouse, only then we will be able to cancel the order the same day.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  Shipping time:
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ol id="l1">
                    <li data-list-text="1.">
                        <p style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Orders below rupees 1199 are charged with a nominal delivery charge of rupees 50.</p>
                    </li>
                    <li data-list-text="2.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Curect provides FREE shipping for orders above Rs. 1199 in India.</p>
                    </li>
                </ol>
                </div>
              </div>
            </div>
            <br>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  Additional Shipping charges:
                </button>
              </h2>
              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ol id="l1">
                    <li data-list-text="1.">
                        <p style="padding-top: 4pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">All products are shipped within 48 hours of order placement.</p>
                    </li>
                    <li data-list-text="2.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Once shipped, they are typically delivered in 7-8 business days in metros, and 10-12 business days for the rest of India.</p>
                    </li>
                    <li data-list-text="3.">
                        <p style="padding-top: 0pt;padding-left: 41pt;text-indent: -18pt;text-align: left;">Delivery time may vary depending upon the shipping address and other factors (public holidays, extreme weather conditions, etc.).</p>
                    </li>
                </ol>
                </div>
              </div>
            </div>
          </div>
    </div>
    <br><br>
    <%- include('footer.ejs',{isDevelopment: isDevelopment,mainUrl:mainUrl}) %> 
</div>

<script>
    var isDevelopment = '<%- isDevelopment %>' == 'true' ? true : false;
    var baseUrl = '<%- baseUrl %>';
</script>

<%- include('../components/footer/apperals_footer.ejs') %>