<%- include('../../components/header/header.ejs',{cssFile : 'adminPages',page:'Dashboard'}) %> 

<div id="load"></div>

<div class="alert alert-dismissible fade show" role="alert" id="success-alert">
  <p id="alertMessage" style="margin: 0;">Edited successfully</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form onsubmit="addBook(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Enter book title.." style="margin: 10px 0px;" required>
                          </div>
                          <div class="form-group">
                            <label for="author">Author</label>
                              <input type="text" id="author" name="author" class="form-control" placeholder="Enter author.." style="margin: 10px 0px;" required>
                          </div>
                          <div class="form-group">
                            <label for="description" style="margin: 10px 0px;">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description here.." style="margin: 10px 0px;border-radius: 10px;" required></textarea>
                          </div>
                          <div class="form-group">
                            <label for="price" style="margin-top: 10px;">Price (in Rs.)</label>
                            <input type="number" id="price" name="price" class="form-control" placeholder="Enter price here.." style="margin: 10px 0px;" required>
                          </div>
                          <div class="form-group">
                            <label for="discount_price">Discount price (in Rs.)</label>
                            <input type="number" id="discount_price" name="discount_price" class="form-control" placeholder="Enter discount price here.." style="margin: 10px 0px;" required>
                          </div>
                          <div class="form-group">
                              <label for="book_images" style="margin: 10px 0px;">Images</label>
                              <input class="form-control" onchange="uploadImages('add')" style="height: unset;border-radius: 8px;" type="file" multiple id="book_images" name="book_images" accept="image/*">
                          </div>
                          <div id="preview" class="row preview_images">
                              
                          </div>
                          <div class="form-group">
                              <label for="book_pdf" style="margin: 10px 0px;">PDF</label>
                              <input class="form-control" onchange="uploadPDF('add')" style="height: unset;border-radius: 8px;" type="file" multiple id="book_pdf" name="book_pdf" accept="application/pdf">
                          </div>
                          <div id="preview_pdf">
                              
                          </div>
                          <div class="button">
                              <button type="submit" id="book_verify" class="btn btn-primary d-flex justify-content-center" style="width: 100%;margin-top: 20px;">Create</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form onsubmit="saveBook(event)" class="edit_form" id="form_" method="post" enctype="multipart/form-data" autocomplete="off">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                          <label for="edittitle">Title</label>
                          <input type="text" id="edittitle" name="edittitle" class="form-control" placeholder="Enter book title.." style="margin: 10px 0px;" required>
                        </div>
                        <div class="form-group">
                          <label for="editauthor">Author</label>
                            <input type="text" id="editauthor" name="author" class="form-control" placeholder="Enter author.." style="margin: 10px 0px;" required>
                        </div>
                        <div class="form-group">
                          <label for="editdescription" style="margin: 10px 0px;">Description</label>
                          <textarea class="form-control" id="editdescription" name="editdescription" rows="3" placeholder="Enter description here.." style="margin: 10px 0px;border-radius: 10px;" required></textarea>
                        </div>
                        <div class="form-group">
                          <label for="editprice" style="margin-top: 10px;">Price (in Rs.)</label>
                          <input type="number" id="editprice" name="editprice" class="form-control" placeholder="Enter price here.." style="margin: 10px 0px;" required>
                        </div>
                        <div class="form-group">
                          <label for="editdiscount_price">Discount price (in Rs.)</label>
                          <input type="number" id="editdiscount_price" name="editdiscount_price" class="form-control" placeholder="Enter discount price here.." style="margin: 10px 0px;" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_book_images" style="margin: 10px 0px;">Images</label>
                            <input class="form-control" onchange="uploadImages('edit')" style="height: unset;border-radius: 8px;" type="file" multiple id="edit_book_images" name="edit_book_images" accept="image/*">
                        </div>
                          <div id="editpreview" class="row preview_images">
                              
                          </div>
                          <div class="form-group">
                              <label for="edit_book_pdf" style="margin: 10px 0px;">PDF</label>
                              <input class="form-control" onchange="uploadPDF('edit')" style="height: unset;border-radius: 8px;" type="file" multiple id="edit_book_pdf" name="edit_book_pdf" accept="application/pdf">
                          </div>
                          <div id="editpreview_pdf">
                              
                          </div>
                          <div class="button">
                              <button type="submit" id="book_verify" class="btn btn-primary d-flex justify-content-center" style="width: 100%;margin-top: 20px;">Save</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="selectCoverPhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Cover Photo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row preview_allImages" id="allImages">

              </div>
            <div class="button">
              <button onclick="saveSelectedImage()" type="submit" id="book_verify" class="btn btn-primary d-flex justify-content-center" style="width: 100%;margin-top: 20px;">Save</button>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid" id="main">
    <div class="top" id="content">
        <div class="title">
            <h5>Books</h5>
            <p>See all the Books here.</p>
        </div>
        <div class="button">
        </div>
    </div>
    <br>
    <div class="content_table">
        <div class="search_bar">
                <div class="row">
                    <div class="col-lg-8 col-md-6 d-flex align-items-center">
                      <form action="/admin/books/getSearchBooks" method="get" class="search-form">
                        <div class="form-group input-group search">
                            <a><span class="iconify" data-icon="akar-icons:search"></span></a>
                            <input type="text" class="form-control" id="searchText" name="searchedTitle" placeholder="Search by title..." value="<%= searchValue %>">
                        </div>
                        <input type="submit" hidden />
                      </form>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-center justify-content-md-end justify-content-start">
                      <% if(!searchPage) { %>
                        <button class="btn btn-primary addButton" data-bs-toggle="modal" data-bs-target="#addBook"><span class="iconify" data-icon="carbon:add-alt"></span>&nbsp;&nbsp;Add Book</button>
                      <% } else { %>
                        <button class="btn btn-primary" onclick="location.href='/admin/books?page=1'">Reload</button>
                      <% } %>
                    </div>
                </div>
        </div>
        <br>
        <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">BOOK</th>
                <th scope="col">AUTHOR</th>
                <th scope="col">PRICE</th>
                <th scope="col">DISCOUNT PRICE</th>
                <th scope="col">PDF</th>
                <th scope="col">DOWNLOADS</th>
                <th scope="col">IMP</th>
                <th scope="col">OPTION</th>
              </tr>
            </thead>
            <tbody>
              <% if(data.length == 0) { %> 
                <td>No Books present</td>
            <% } else { %>
                <% data.forEach((book,index) => { %> 
                    <tr>
                      <th scope="row"><%= (index+1+metadata.offset) %></th>
                      <td>
                        <div class="profile_table_data">
                            <div class="profile_image">
                                <img src="<%= book.cover_photo %>" alt="">
                                 <div class="edit-icon" onclick="selectCoverPhoto('<%= book.id %>','<%= book.cover_photo %>')">
                                    <a><span class="iconify" data-icon="clarity:edit-line"></span></a>
                                 </div>
                            </div>
                            <p style="margin: 0px 5px 0px 10px;"><%= book.title %></p>
                        </div>
                      </td>
                      <td><%= book.author %></td>
                      <td><%= book.price %></td>
                      <td><%= book.discount_price %></td>
                      <td><a href="<%= book.pdf %>" target="_blank">Open</a></td>
                      <td><%= book.downloads %></td>
                      <td> 
                        <div class="form-check form-switch d-flex justify-content-start">
                          <% if(book.imp == 1){ %> 
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('<%= book.id %>','/admin/books/markedBookImportant')" checked>
                          <% } else { %>
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('<%= book.id %>','/admin/books/markedBookImportant')">
                          <% } %>
                      </div>
                      </td>
                      <td>
                        <div class="options">
                            <a class="edit" onclick="editBook('<%= book.id %>','<%= book.title %>','<%= book.author %>','<%= book.price %>','<%= book.discount_price %>','<%= book.pdf %>')"><span class="iconify" data-icon="akar-icons:edit"></span></a>
                            <a class="delete" onclick="deleteBook('<%= book.id %>')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a>
                            <a class="delete" onclick="sendNotification('<%= book.title %>','<%= book.id %>','book','ckeditordescriptionvalue<%= book.id %>','<%= book.cover_photo %>','/books?item_id=<%= book.id %>','<%= book.share_url %>')"><span class="iconify" data-icon="bi:send"></span></a>
                            <input type="hidden" name="" id="ckeditordescriptionvalue<%= book.id %>" value="<%= book.description %>">
                        </div>
                      </td>
                    </tr>
                <% }); %> 
            <% } %> 
            </tbody>
          </table>
          <% if(!searchPage && data.length != 0 && metadata.total_pages > 1) { %> 
            <div class="pages">
                <div class="total_pages">
                    <div class="form-group">
                        <input type="number" class="form-control" id="pageNumber" name="pageNumber" placeholder="Total pages = <%= metadata.total_pages %> ">
                    </div>
                    <button class="btn btn-primary" onclick="goToPage()">Go</button>
                </div>
                <div class="inner_pages">
                    <% if(metadata.page == 1) { %>
                        <a id="prev" class="disabled">Prev</a>
                    <% } else { %>
                        <a id="prev" onclick="location.href='/admin/books?page=<%= metadata.page - 1 %>'">Prev</a>
                    <% } %>
                    <% if(metadata.total_pages >= 3) { %> 
                        <% if(metadata.page == metadata.total_pages) { %> 
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page - 2 %>'"><%= metadata.page - 2 %></a>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page - 1 %>'"><%= metadata.page - 1 %></a>
                            <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                        <% } else if(metadata.page == (metadata.total_pages - 1)) { %>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page - 1 %>'"><%= metadata.page - 1 %></a>
                            <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page + 1 %>'"><%= metadata.page + 1 %></a>
                        <% } else { %>
                            <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page + 1 %>'"><%= metadata.page + 1 %></a>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page + 2 %>'"><%= metadata.page + 2 %></a>
                        <% } %>
                    <% } else if(metadata.total_pages == 2) { %>
                        <% if(metadata.page == metadata.total_pages) { %> 
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page - 1 %>'"><%= metadata.page - 1 %></a>
                            <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                        <% } else if(metadata.page == (metadata.total_pages - 1)) { %>
                            <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                            <a class="page" onclick="location.href='/admin/books?page=<%= metadata.page + 1 %>'"><%= metadata.page + 1 %></a>
                        <% } %>
                    <% } else if(metadata.total_pages == 1) { %>
                        <a class="page selected_page" onclick="location.href='/admin/books?page=<%= metadata.page %>'"><%= metadata.page %></a>
                    <% } %>
                    <% if(metadata.page == metadata.total_pages) { %> 
                        <a id="next" class="disabled">Next</a>
                    <% } else { %>
                        <a id="next" onclick="location.href='/admin/books?page=<%= metadata.page + 1 %>'">Next</a>
                    <% } %>
                </div>
            </div>
          <% } %> 
    </div>
</div>

<!-- Notification Modal -->
<div class="modal fade" id="sendingNotification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Sending Notification Please Wait!!</h3>
      </div>
    </div>
  </div>
</div>

<!-- Common.js -->
<script src="/javascripts/common.js"></script>
<!---->

<script>

var dayTimeModal;

$(function(){
  // bootstraps modals
    editModal = new bootstrap.Modal(document.getElementById('editBook'));
    selectCoverPhotoModal = new bootstrap.Modal(document.getElementById('selectCoverPhoto'));
    if($('textarea#description').length){
        //ckeditor defination
        CKEDITOR.replace('description',{
            filebrowserUploadUrl: '/admin/common/upload',
            filebrowserUploadMethod: 'form',
        });
    }
    if($('textarea#editdescription').length){
        //ckeditor defination
        CKEDITOR.replace('editdescription',{
            filebrowserUploadUrl: '/admin/common/upload',
            filebrowserUploadMethod: 'form'
        });
    }
});
  
  /* Functions */

  function saveSelectedImage() {
    var path = document.getElementsByClassName('is-selected')[0].getAttribute('data-path');
    var id = document.getElementsByClassName('is-selected')[0].getAttribute('data-bookid');
    // console.log(path);
    // console.log(id);
    if(confirm('Do you want to edit it?') == true){
      $.ajax({
            url : '/admin/books/saveBookCoverImage',
            dataType: "json",
            type: "POST",
            data: {
                id:id,
                path:path
            },
            success: function(response){
              if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-success');
                document.getElementById('alertMessage').innerHTML = 'Cover photo updated successfully';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                  $("#success-alert").slideUp(500);
                });
              }
              setTimeout(() => {
                location.reload();
              },1000);
            },
            error: function(err){
                    console.log(err);
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
      });
    } 
  }

  //move select image box
  function changeSelectedImage(i) {
    var item = document.getElementsByClassName('selected_save_profile')[i];
    var inside_selected_list = document.getElementsByClassName('is-selected')[0];
    if(inside_selected_list) {
      inside_selected_list.classList.remove('is-selected');
      inside_selected_list.classList.add('is-not-selected');
    }
    if(item.classList.contains('is-not-selected')){
      item.classList.remove('is-not-selected');
    }
    item.classList.add('is-selected');
  }

  //Select profile image
  function selectCoverPhoto(id ,profile_image) {
    selectCoverPhotoModal.toggle();
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    document.getElementById('allImages').innerHTML = "";
    $.ajax({
            url : `/admin/getImages?item_id=${id}&item_category=books`,
            dataType: "json",
            type: "GET",
            success: function(response){
                    console.log(response);
                for(var i=0;i<response.data.length;i++) {
                        var path = response.data[i].path;
                        $('#allImages').append('<div class="select" onclick="changeSelectedImage(\''+ i +'\')" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'" ><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div><div class="selected_save_profile '+ (path == profile_image ? 'is-selected' : 'is-not-selected' ) +'" data-path="'+ path +'" data-bookid="'+ id +'"><a><span class="iconify" data-icon="teenyicons:tick-circle-solid"></span></a></div></div>');
                    }
            },
            error: function(err){
                    console.log(err);
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
        });
  }

  //Get images
  function getImages(id,value) {
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    $.ajax({
            url : `/admin/getImages?item_id=${id}&item_category=books`,
            dataType: "json",
            type: "GET",
            success: function(response){
                    console.log(response);
                if(value == 'edit') {
                    for(var i=0;i<response.data.length;i++) {
                        var path = response.data[i].path;
                        $('#editpreview').append('<div class="col-lg-4 col-md-4 col-sm-6 col-6" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteEditCurrentGalleryImage(\''+ ( "edit_gallery_image_"+ path )  +'\',\''+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div><input type="hidden" class="edit_gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div>');
                    }
                } 
            },
            error: function(err){
                    console.log(err);
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
        });
  }

  //Go to page 
  function goToPage() {
      var page = document.getElementById('pageNumber').value;
      var total_pages = '<%- metadata.total_pages %>';
      if(page.length != 0) {
          if(parseInt(page) > parseInt(total_pages)){
              alert('Please enter a page number less than total pages');
          } else if(parseInt(page) == 0) {
              alert('Please enter a page number greater than 0');
          } else {
              location.href=`/admin/books?page=${page}`;
          }
      } else {
          alert('Please enter a page number first');
      }
  }

  //Edit Book
  function editBook(id,title,author,price,discount_price,pdf) {
    document.getElementById('editpreview').innerHTML = '';
    document.getElementById('editpreview_pdf').innerHTML = '';
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    getImages(id,'edit');
      document.getElementById('edittitle').value = title;
      document.getElementById('editauthor').value = author;
      document.getElementById('editprice').value = price;
      document.getElementById('editdiscount_price').value = discount_price;
      CKEDITOR.instances['editdescription'].setData(document.getElementById('ckeditordescriptionvalue' + id).value);
      var path = pdf;
      if(pdf.length !=0){
      $('#editpreview_pdf').append('<div class="col-12" id="pdf_'+ path +'"><a href="'+ path +'">'+ path +'</a> <a onclick="deleteCurrentPdf(\''+ path +'\')" style="color:red;margin-left:20px"><span class="iconify" data-icon="akar-icons:cross" style="color:red;width:30px;height:30px"></span></a></div>');
      }
      document.getElementsByClassName('edit_form')[0].setAttribute('id',`form_${id}`);
      editModal.toggle();
  }

  //Delete book
  function deleteBook(id) {
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/admin/books/deleteBook',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
              if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-success');
                document.getElementById('alertMessage').innerHTML = 'Book deleted successfully';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                  $("#success-alert").slideUp(500);
                });
              }
              setTimeout(() => {
                location.reload();
              },1000);
            },
            error: function(err){
                    console.log(err);
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
      });
    } 
  }

  //Upload PDF
  function uploadPDF(value) {
    document.getElementById('load').style.visibility="visible";
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
      if(value != 'edit') {
        var imageFiles = document.getElementById('book_pdf').files;
        var form = new FormData();
        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`pdf`, imageFiles[i]);
            }
        }
        $.ajax({
            url : "/admin/common/savePdf",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                    console.log(response);
                for(var i=0;i<response.files.length;i++) {
                    var path = response.files[i].path.slice(6,response.files[i].path.length);
                    $('#preview_pdf').append('<div class="col-12" id="pdf_'+ path +'"><a href="'+ path +'">'+ path +'</a> <a onclick="deleteCurrentPdf(\''+ path +'\')" style="color:red;margin-left:20px"><span class="iconify" data-icon="akar-icons:cross" style="color:red;width:30px;height:30px"></span></a><input type="hidden" class="pdf_path" name="pdf_path" id="pdf_path_'+ path +'" value="'+ path +'"></div>');
                }
                document.getElementById('book_pdf').value='';
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                console.log(err.status);
                if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                document.getElementById('alertMessage').innerHTML = 'Please fill all the values first.';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
            }
        });
      } else {
        var imageFiles = document.getElementById('edit_book_pdf').files;
        var form = new FormData();
        var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`pdf`, imageFiles[i]);
            }
        }
        $.ajax({
            url : `/admin/common/saveEditPdf/${id}/books`,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                    console.log(response);
                for(var i=0;i<response.files.length;i++) {
                    var path = response.files[i].path.slice(6,response.files[i].path.length);
                    $('#editpreview_pdf').append('<div class="col-12" id="pdf_'+ path +'"><a href="'+ path +'">'+ path +'</a> <a onclick="deleteCurrentPdf(\''+ path +'\')" style="color:red;margin-left:20px"><span class="iconify" data-icon="akar-icons:cross" style="color:red;width:30px;height:30px"></span></a></div>');
                }
                document.getElementById('edit_book_pdf').value='';
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                console.log(err.status);
                if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                document.getElementById('alertMessage').innerHTML = 'Please fill all the values first.';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
            }
        });
      }
  }

  //Upload image
function uploadImages(value) {
    document.getElementById('load').style.visibility="visible";
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
      if(value != 'edit'){
        var imageFiles = document.getElementById('book_images').files;
        var form = new FormData();
        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`book_images`, imageFiles[i]);
            }
        }

        $.ajax({
            url : "/admin/common/saveBookImages",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                // console.log(response.files);
                for(var i=0;i<response.files.length;i++) {
                    var path = response.files[i].slice(6,response.files[i].length);
                    $('#preview').append('<div class="col-lg-4 col-md-4 col-sm-6 col-6" id="gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteCurrentGalleryImage(\''+ ( "gallery_image_"+ path )  +'\',\'gallery_image_path_'+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""><input type="hidden" class="gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div></div>');
                }
                document.getElementById('book_images').value='';
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
        });
      } else {
        var imageFiles = document.getElementById('edit_book_images').files;
        var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
        //   console.log(imageFiles);
        var form = new FormData();
        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`book_images`, imageFiles[i]);
            }
        }

        $.ajax({
            url : `/admin/common/saveEditImages/${id}/books`,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                // console.log(response.files);
                for(var i=0;i<response.files.length;i++) {
                  var path = response.files[i].slice(6,response.files[i].length);
                    $('#editpreview').append('<div class="col-lg-4 col-md-4 col-sm-6 col-6" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteEditCurrentGalleryImage(\''+ ( "edit_gallery_image_"+ path )  +'\',\''+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div><input type="hidden" class="edit_gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div>');
                }
                document.getElementById('edit_book_images').value='';
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
            }
        });
      }
  }

  //Delete  Pdf
  function deleteCurrentPdf(path) {
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    if(confirm('Do you want to delete it?') == true){
        console.log(path);
        if(path != '/images/extra/nopreview.jpeg') {
            $.ajax({
                url : '/admin/common/deletePDF',
                dataType: "json",
                type: "POST",
                data: {
                    path:path
                },
                success: function(response){
                    // alert('Removed Successfully');
                    if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-success');
                document.getElementById('alertMessage').innerHTML = 'Removed successfully';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
                    document.getElementById('pdf_'+path).remove();
                },
                error: function(err){
                    console.log(err);
                    // alert('Some error occured !!');
                    if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                document.getElementById('alertMessage').innerHTML = 'Please fill all the values first.';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
                }
            });
        }
    } 
}

  //Add book
  function addBook(event) {
    event.preventDefault();
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    var description = CKEDITOR.instances['description'].getData();
    var title = document.getElementById('title').value;
    var price = document.getElementById('price').value;
    var discount_price = document.getElementById('discount_price').value;
    var author = document.getElementById('author').value;
    var pdf_path = document.getElementsByClassName("pdf_path");
    if(description.length != 0) {
        var gallery = document.getElementsByClassName("gallery_image_path");
        var gallery_values = [];
        var pdf = [];
        if(gallery.length != 0 && pdf_path.length !=0) {
            for(var i =0;i<gallery.length;i++) {
                gallery_values.push(gallery[i].value);
            }
            for(var i =0;i<pdf_path.length;i++) {
              pdf.push(pdf_path[i].value);
            }
            $.ajax({
                url : '/admin/books/addBook',
                dataType: "json",
                type: "POST",
                data: {
                    title:title,
                    price:price,
                    discount_price:discount_price,
                    description:description,
                    gallery:gallery_values,
                    pdf:pdf,
                    author:author,
                },
                success: function(response){
                    if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-success');
                        document.getElementById('alertMessage').innerHTML = 'Book added successfully';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
                    setTimeout(() => {
                        location.reload();
                    },1000);
                },
                error: function(err){
                    console.log(err);
                    if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
                }
            });
      } else {
        if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                if(gallery.length == 0 && pdf_path.length == 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select both image and pdf first';
                } else if(gallery.length == 0 && pdf_path.length != 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select an image first';
                } else if(gallery.length != 0 && pdf_path.length == 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select an  pdf first';
                }
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
      }
    } else {
        if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                document.getElementById('alertMessage').innerHTML = 'Please fill all the values first.';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
    }
    // console.log(data);
  }

  //Save Book
  function saveBook(event) {
    event.preventDefault();
    if(document.getElementById('success-alert')) {
      if(document.getElementById('success-alert').classList.contains('alert-success')) {
        document.getElementById('success-alert').classList.remove('alert-success');
      }
      if(document.getElementById('success-alert').classList.contains('alert-danger')) {
        document.getElementById('success-alert').classList.remove('alert-danger');
      }
      if(document.getElementById('success-alert').classList.contains('alert-warning')) {
        document.getElementById('success-alert').classList.remove('alert-warning');
      }
    }
    var description = CKEDITOR.instances['editdescription'].getData();
    var title = document.getElementById('edittitle').value;
    var price = document.getElementById('editprice').value;
    var discount_price = document.getElementById('editdiscount_price').value;
    var author = document.getElementById('editauthor').value;
    var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
    var pdf_path = document.getElementById('editpreview_pdf').innerHTML;
    pdf_path = (pdf_path.trim) ? pdf_path.trim() : pdf_path.replace(/^\s+/,'');
    if(description.length != 0) {
        var gallery = document.getElementsByClassName("edit_gallery_image_path");
        var gallery_values = [];
        if(gallery.length != 0 && pdf_path != '') {
            for(var i =0;i<gallery.length;i++) {
                gallery_values.push(gallery[i].value);
            }
            $.ajax({
                url : '/admin/books/saveBook',
                dataType: "json",
                type: "POST",
                data: {
                    title:title,
                    price:price,
                    discount_price:discount_price,
                    description:description,
                    gallery:gallery_values,
                    id:id,
                    author,author
                },
                success: function(response){
                    if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-success');
                        document.getElementById('alertMessage').innerHTML = 'Book edited successfully';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
                    setTimeout(() => {
                        location.reload();
                    },1000);
                },
                error: function(err){
                    console.log(err);
                    if(document.getElementById('success-alert')) {
                        document.getElementById('success-alert').classList.add('alert-danger');
                        document.getElementById('alertMessage').innerHTML = 'Some error occurred.';
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        });
                    }
                }
            });
      } else {
        if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                if(gallery.length == 0 && pdf_path.length == 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select both image and pdf first';
                } else if(gallery.length == 0 && pdf_path.length != 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select an image first';
                } else if(gallery.length != 0 && pdf_path.length == 0) {
                  document.getElementById('alertMessage').innerHTML = 'Select an  pdf first';
                }
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
      }
    } else {
        if(document.getElementById('success-alert')) {
                document.getElementById('success-alert').classList.add('alert-warning');
                document.getElementById('alertMessage').innerHTML = 'Please fill all the values first.';
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
    }
    // console.log(data);
  }

</script>

<%- include('../../components/footer/footer.ejs') %> 