<%- include('../components/header/website_header.ejs',{cssFile : 'index',page:page}) %> 

<div id="load"></div>

<div class="main-container">
    <br><br><br><br>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-9 col-md-8 col-sm-4 col-12" style="padding: 0px 0px 0px 10px !important;">
                <div class="heading">
                    <h5>My Programs</h5>
                    <p>See all your subscribed programs here.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-8 col-12" style="padding: 0px 10px 0px 10px !important;">
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="morePrograms">
        <div class="row experts" id="experts">
            
        </div>
    </div>
    <br><br>
    <%- include('footer.ejs',{showContactExpert: true}) %> 
</div>


<script>
    var message = '<%- message %>';
    var isDevelopment = '<%- isDevelopment %>' == 'true' ? true : false;

    function joinRoom(meetingUrl,subscriptionId,day,time) {
        if(meetingUrl.length != 0) {
            document.getElementById('load').style.visibility="visible";
            var days = [];
            if(day == 'All 7 days') {
                days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];
            } else if (day == 'All 6 days') {
                days = ['Mon','Tue','Wed','Thu','Fri','Sat'];
            } else if (day == 'Monday-Wednesday-Friday') {
                days = ['Mon','Wed','Fri'];
            } else if (day == 'Tuesday-Thursday-Saturday') {
                days = ['Tue','Thu','Sat'];
            }
            var times = time.split('-');
            var today = new Date();
            var counter = 0;
            for(var i=0;i<days.length;i++){
                if(today.toString().includes(days[i])){
                    if(today.toString().substring(16,18) == times[0].substring(0,2)){
                        counter++;
                    }
                }
            }
            if(counter > 0) {
                var array = document.cookie.split(';');
                var counter = 0;
                var index = 0;
                var userIndex = 0;
                for(var i=0;i<array.length;i++) {
                    if(array[i].includes('currentUserToken=')){
                        counter++;
                        index = i;
                    }
                    if(array[i].includes('user_id=')){
                        counter++;
                        userIndex = i;
                    }
                }
                if(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]) {
                    var token = decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1];
                    var user_id = decodeURIComponent(document.cookie).split(';')[userIndex].split('user_id=')[1];
                } else {
                    var token = document.cookie.split(';')[index].split('currentUserToken=')[1];
                    var user_id = document.cookie.split(';')[userIndex].split('user_id=')[1];
                }
                $.ajax({
                    url:`/api/programs/increaseSessionCount?id=${subscriptionId}`,
                    dataType: "json",
                    type:"POST",
                    headers: {
                        'token':token ? token : 'testing',
                        'platform': 'WEB'
                    },
                    data: {},
                    success: function(info){
                        document.getElementById('load').style.visibility="hidden";
                        window.open(meetingUrl,'_blank');
                    },
                    error: function(err){
                        if(isDevelopment) {
                            console.log(err);
                        }
                        alert('Some Error occurred!');
                        // location.reload();
                    }
                });
            } else {
                alert('Meeting not started yet');
                document.getElementById('load').style.visibility="hidden";
            }
        } else {
            alert('Meeting not started yet');
            document.getElementById('load').style.visibility="hidden";

        }
    }

    function getPrograms() {
        if(message == 'payment_failed') {
            alert('Payment failed try again');
            window.location.href = '/myPrograms';
        } else if(message == 'payment_successfull') {
            alert('Payment successfull , See all your courses here');
            window.location.href = '/myPrograms';
        } 
        var array = document.cookie.split(';');
        var counter = 0;
        var index = 0;
        var userIndex = 0;
        for(var i=0;i<array.length;i++) {
            if(array[i].includes('currentUserToken=')){
                counter++;
                index = i;
            }
            if(array[i].includes('user_id=')){
                counter++;
                userIndex = i;
            }
        }
        if(decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1]) {
            var token = decodeURIComponent(document.cookie).split(';')[index].split('currentUserToken=')[1];
            var user_id = decodeURIComponent(document.cookie).split(';')[userIndex].split('user_id=')[1];
        } else {
            var token = document.cookie.split(';')[index].split('currentUserToken=')[1];
            var user_id = document.cookie.split(';')[userIndex].split('user_id=')[1];
        }
        document.getElementById('load').style.visibility="visible";
        document.getElementById('experts').innerHTML = '';
        $.ajax({
            url : `/api/programs/getUserPrograms?user_id=${user_id}`,
            dataType: "json",
            type: "GET",
            headers: {
                'token':token ? token : 'testing',
                'Content-Type':'application/json',
                'platform': 'WEB'
            },
            success: function(response){
              if(isDevelopment) {
                    console.log(response);
                }
              if(response.morePrograms.length != 0) {
                for(var i=0;i<response.morePrograms.length;i++){
                    $('#experts').append('<div class="col-lg-6 col-md-6 col-sm-12 col-12" style="padding: 0px 10px 0px 10px !important;"><div class="cart-item card"><div class="top" onclick="window.location.href=\'/each-program/'+ response.morePrograms[i].item_id +'\'"><div class="image"><img src="'+ response.morePrograms[i].cover_photo +'" alt=""></div><div class="name"><h4>'+ response.morePrograms[i].title +'</h4></div></div><hr><div class="details"><p>Trainer Name : </p><p>'+ response.morePrograms[i].trainerName +'</p></div><div class="details"><p>Days : </p><p>'+ response.morePrograms[i].day_id +'</p></div><div class="details"><p>Sessions : </p><p>'+ response.morePrograms[i].session_id +'</p></div><div class="details"><p>Session Type : </p><p>'+ response.morePrograms[i].session_type +'</p></div><div class="details"><p>Time : </p><p>'+ response.morePrograms[i].time_id +'</p></div><div class="details"><p>Sessions left : </p><p>'+ response.morePrograms[i].days_left +'</p></div><hr><div class="bottom-total"><div class="button" style="margin:0px 0px 0px 0px;display:flex;justify-content:flex-end;width:100%">'+( response.morePrograms[i].pdf_path != null && response.morePrograms[i].pdf_path.length != 0 ? '<button class="downloadPdf" style="border: 0;width: unset;display: flex;align-items: center;justify-content: center;padding:8px 15px !important" class="btn btn-primary" onclick="downloadPDF(\''+ (response.morePrograms[i].title + 'diet-plan') +'\',\''+ response.morePrograms[i].pdf_path +'\',\''+ response.morePrograms[i].subscriptionId +'\')"><span class="iconify" data-icon="fluent:arrow-download-16-filled"></span>&nbsp;&nbsp;PDF</button>' : '' )+'<button style="border: 0;width: unset;display: flex;align-items: center;justify-content: center;padding:8px 15px !important" class="btn btn-primary" onclick="joinRoom(\''+ response.morePrograms[i].meeting_url +'\',\''+ response.morePrograms[i].subscriptionId +'\',\''+ response.morePrograms[i].day_id +'\',\''+ response.morePrograms[i].time_id +'\')">Join Room</button></div></div></div></div>');
                }
              } else {
                $('#experts').append('<div class="col-12 text-center"><h6>No Programs purchased</h6></div>');
              }
                document.getElementById('load').style.visibility="hidden";
            },
            error: function(err){
                if(isDevelopment) {
                    console.log(err);
                }
                alert('Some error occured !!');
            }
        });
    }
    setTimeout(() => {
        getPrograms();
    },500);
</script>

<%- include('../components/footer/website_footer.ejs') %>